{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>DynVote</title>
    {% include "home/header_files_with_admin_js.html" %}
	{{ask_form.media}}
 	<meta charset="utf-8" />
</head>
<body>

<div class="header-wrapper wrapper clearfix">
	<div class="page-title"><h1 class="title">DynVote</h1></div>
	<div class="page-slogan">The Voting Advice Application that let you ask the questions.</div>
	<div role="navigation" class="navigation">
		{% include "home/menu.html" %}
	</div>
</div>

<div class="content-wrapper wrapper clearfix">

	{% include "home/status.html" %}

	<div class="content">

		{% block content %}

		<div class="ask-form">

            <h2>Ask a question:</h2>

			{% if isCandidate %}
				<p>As you are a candidate, this question will be forwarded to all registered voters and candidates.</p>

				<form enctype="multipart/form-data" action="/home/ask/" method="post">
					{% csrf_token %}
					<ul>
					{% for field in ask_form %}
					<li class="li-item" value="">
						<div class="field-wrapper">
							{{ field.errors }}
							<label class="label-inline">{{ field.label }}</label>
							<div class="form-field-body">
								{{ field }}
							</div>
						</div>
					</li>
					{% endfor %}
					</ul>
					<div><input type="submit" value="Submit" /></div>
				</form>

			{% else %}
				<p>As you are a voter, you have to select the users you want to forward this question to.</p>

				<form enctype="multipart/form-data" action="/home/ask/" method="post">
					{% csrf_token %}
					<ul>
					{% for field in ask_form %}
					<li class="il-item" value="">
						<div class="field-wrapper">
							{{ field.errors }}
							<label class="label-inline">{{ field.label }}</label>
							<div class="form-field-body">
								{{ field }}
							</div>
						</div>
					</li>
					{% endfor %}
					</ul>
					<div><input type="submit" value="Submit" /></div>
				</form>
			{% endif %}
		</div>

		{% endblock %}
	</div>
</div>

{% include "home/footer.html" %}

</body>
</html>