{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>DynVote</title>
	{% include "home/header_files.html" %}
 	<meta charset="utf-8" />
</head>
<body>

<div class="header-wrapper wrapper clearfix">
	<div class="page-title"><h1 class="title">DynVote</h1></div>
	<div class="page-slogan">The Voting Advice Application that let you ask the questions.</div>
	<div role="navigation" class="navigation">
		{% include "home/menu.html" %}
	</div>
</div>

<div class="content-wrapper wrapper clearfix">

	{% include "home/status.html" %}

	<div class="content">

		{% block content %}

		<div class="ask-overview">

            <h2>Question has been saved</h2>

			<p>The question "{{customQuestion.question}}" has been added to survey "{{customQuestion.survey.name}}".</p>

			<p>Click here to <a href="/home/survey/{{customQuestion.survey.id}}">answer the survey</a></p>

		</div>

		{% endblock %}
	</div>
</div>

{% include "home/footer.html" %}

</body>
</html>